<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="moe.henry_zhr.cutout_overlay_nio">

    <application
        android:label="@string/display_cutout_emulation_overlay"
        android:hasCode="false"
        tools:ignore="MissingApplicationIcon" />

    <overlay
        android:priority="1"
        android:targetPackage="android"
        android:category="com.android.internal.display_cutout_emulation" />

</manifest>